# 前置准备

## 导入相关包

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from functools import reduce
import matplotlib as mpl
import matplotlib.pyplot as plt 

from pyecharts import options as opts
from pyecharts.charts import Line,Bar,Pie

# from pyecharts.globals import ThemeType
# from pyecharts.globals import CurrentConfig, NotebookType
# CurrentConfig.NOTEBOOK_TYPE = NotebookType.JUPYTER_LAB

In [2]:
# datafram显示行数和列数
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

pd.set_option('max_columns', 20)
pd.set_option('max_rows', 10)

In [3]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

## 数据库链接

In [4]:
#链接mysql
def mysqlDB(sql):
    engine = create_engine(
        'mysql+pymysql://schu:slavep@123.103.75.152:3306/school')
    result = pd.read_sql_query(sql = sql, con = engine)
    return result

## echarts 公用方法

In [5]:
#柱状图
def echarts_bar(x_data, y_data):
    bar = Bar(init_opts=opts.InitOpts(width='1200px'))
    bar.add_xaxis(x_data)
    bar.add_yaxis("开通学校数量", y_data)
    bar.set_global_opts(
        title_opts=opts.TitleOpts(title=""),
        datazoom_opts=opts.DataZoomOpts(is_show=True, type_='slider',range_start = 70,range_end = 100,pos_top ='95%'),
        xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=15)),


    )

    bar.set_series_opts(
        label_opts=opts.LabelOpts(is_show=True),
        markline_opts=opts.MarkLineOpts(
            data=[

                opts.MarkLineItem(type_="average", name="平均值"),
            ]
        ),
        markpoint_opts=opts.MarkPointOpts(
            data=[
                opts.MarkPointItem(type_="min", name="最小值"),
                opts.MarkPointItem(type_="max", name="最大值"),
            ]
        ),
    )
    return bar


#饼图
def echarts_pie(x_data_list,title_name):
    pie = Pie(init_opts=opts.InitOpts(height='500px',width='1200px'))
    pie.add(
            "",
            x_data_list,
            radius=["40%", "75%"],
        )
    pie.set_global_opts(
            title_opts=opts.TitleOpts(title=title_name),
            legend_opts=opts.LegendOpts(orient="vertical", pos_top="10%", pos_left="5%"),
            
        
        )
    pie.set_series_opts(label_opts=opts.LabelOpts(formatter="{b}：{c} ({d}%)"))


    return pie

# 学校任务类型

In [6]:
sql = '''
SELECT fr.school_id,fr.name ,count(*) as task_count from franchised_school_info fr , tp_task_info  tt, tp_course_info tc where tt.course_id = tc.course_id  and tc.DC_SCHOOL_ID = fr.school_id  and tt.c_time >'2021-7-15'
and fr.school_type in (3,4) and tt.CLASSROOM_ID is null and fr.ENABLE = 0
GROUP BY fr.school_id 
ORDER BY  task_count desc
'''
school_data = mysqlDB(sql)
school_data

     school_id              name  task_count
0        52603           秦皇岛树人中学       45029
1        52923      重庆市彭水县思源实验学校       38484
2        53206        湖北省恩施市英才学校       32422
3        53513          烟台牟平第一中学       30404
4        53104           兴义市第三中学       29274
..         ...               ...         ...
499  100000476            茶山华洋学校           1
500  100000483            万江第一小学           1
501      53211  宁河区芦台镇第四小学(2020)           1
502      53291  宁河区大北涧沽镇中学(2020)           1
503      54137        青海省三江源民族中学           1

[504 rows x 3 columns]

In [7]:
task_id = [1,2,3,4,6,7,10,13,14,15]
task_name = ['学资源','讨论','单题','测验','微课程','一般任务','直播课','答题卡','个性化','先声',]

df = [school_data,]
for i in task_id:
    if i ==7:
        sql = '''
        SELECT fr.school_id,fr.name ,count(*) as task_count from franchised_school_info fr , tp_task_info  tt, tp_course_info tc where tt.course_id = tc.course_id  and tc.DC_SCHOOL_ID = fr.school_id  and tt.c_time >'2021-7-15'
        and fr.school_type in (3,4) and tt.CLASSROOM_ID is null and fr.ENABLE = 0 and tt.task_type in (7,8,9)
        GROUP BY fr.school_id 
        '''
        df.append(mysqlDB(sql))
        
    else:
        sql = '''
        SELECT fr.school_id,fr.name ,count(*) as task_count from franchised_school_info fr , tp_task_info  tt, tp_course_info tc where tt.course_id = tc.course_id  and tc.DC_SCHOOL_ID = fr.school_id  and tt.c_time >'2021-7-15'
        and fr.school_type in (3,4) and tt.CLASSROOM_ID is null and fr.ENABLE = 0 and tt.task_type = {}
        GROUP BY fr.school_id 
        '''.format(i)
        df.append(mysqlDB(sql))
    
data = reduce(lambda left, right: pd.merge(left, right, on=['school_id','name'], how='left'), df)
data = data.fillna(0)
column = ['学校ID','学校名称','总数','学资源','讨论','单题','测验','微课程','一般任务','直播课','答题卡','个性化','先声',]
data.columns = column
data

,学校ID,学校名称,总数,学资源,讨论,单题,测验,微课程,一般任务,直播课,答题卡,个性化,先声
0,52603,秦皇岛树人中学,45029,28772.0,145.0,0.0,56.0,1075.0,2189.0,3579.0,9208.0,5.0,0.0
1,52923,重庆市彭水县思源实验学校,38484,19022.0,482.0,400.0,4112.0,2103.0,2567.0,1.0,7705.0,0.0,2092.0
2,53206,湖北省恩施市英才学校,32422,22167.0,43.0,72.0,993.0,1108.0,34.0,0.0,7971.0,34.0,0.0
3,53513,烟台牟平第一中学,30404,20480.0,441.0,6.0,20.0,97.0,29.0,0.0,9328.0,3.0,0.0
4,53104,兴义市第三中学,29274,18927.0,35.0,443.0,1141.0,718.0,1303.0,0.0,6706.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,100000476,茶山华洋学校,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,100000483,万江第一小学,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
501,53211,宁河区芦台镇第四小学(2020),1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502,53291,宁河区大北涧沽镇中学(2020),1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
503,54137,青海省三江源民族中学,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [13]:
data.to_excel(r'C:\Users\caozhiqiang\Desktop\本学期学校任务类型分布.xlsx')

# 学校群里分组

In [8]:
year_list = []
for i in range(2014,2022):
    year_list.append('{}~{}上'.format(i,i+1))
    year_list.append('{}~{}下'.format(i,i+1))

year_list

['2014~2015上',
 '2014~2015下',
 '2015~2016上',
 '2015~2016下',
 '2016~2017上',
 '2016~2017下',
 '2017~2018上',
 '2017~2018下',
 '2018~2019上',
 '2018~2019下',
 '2019~2020上',
 '2019~2020下',
 '2020~2021上',
 '2020~2021下',
 '2021~2022上',
 '2021~2022下']

In [9]:
school_year_list = [
'2014~2015上',
 '2014~2015下',
 '2015~2016上',
 '2015~2016下',
 '2016~2017上',
 '2016~2017下',
 '2017~2018上',
 '2017~2018下',
 '2018~2019上',
 '2018~2019下',
 '2019~2020上',
 '2019~2020下',
 '2020~2021上',
 '2020~2021下',
 '2021~2022上',]
year = [
    
    ['2014-7-15','2015-1-15'],
    ['2015-1-15','2015-7-15'],
    
    ['2015-7-15','2016-1-15'],
    ['2016-1-15','2016-7-15'],
    
    ['2016-7-15','2017-1-15'],
    ['2017-1-15','2017-7-15'],
    
    ['2017-7-15','2018-1-15'],
    ['2018-1-15','2018-7-15'],
    
    ['2018-7-15','2019-1-15'],
    ['2019-1-15','2019-7-15'],
    
    ['2019-7-15','2020-1-15'],
    ['2020-1-15','2020-7-15'],
    
    ['2020-7-15','2021-1-15'],
    ['2021-1-15','2021-7-15'],
    
    ['2021-7-15','2022-1-15']
]

In [10]:
sql = '''
SELECT school_id ,name,c_time from franchised_school_info fr where  fr.school_type in (3,4)  and  fr.school_id > 50000
ORDER BY c_time ASC
'''
school = mysqlDB(sql)

In [11]:
school_year_df =[school,]


for i in year:
    sql = '''
    SELECT fr.school_id,fr.name ,count(*) as task_count from franchised_school_info fr , tp_task_info  tt, tp_course_info tc where tt.course_id = tc.course_id  and tc.DC_SCHOOL_ID = fr.school_id  
    and tt.c_time >'{}' and tt.c_time <='{}'
and fr.school_type in (3,4) and tt.CLASSROOM_ID is null and fr.ENABLE = 0
GROUP BY fr.school_id 
    '''.format(i[0],i[1])
    school_year_df.append(mysqlDB(sql))
    
school_year_data = reduce(lambda left, right: pd.merge(left, right, on=['school_id','name'], how='left'), school_year_df) 

school_year_data.columns = ['学校ID','学校名称','创建时间','2014~2015上',
 '2014~2015下',
 '2015~2016上',
 '2015~2016下',
 '2016~2017上',
 '2016~2017下',
 '2017~2018上',
 '2017~2018下',
 '2018~2019上',
 '2018~2019下',
 '2019~2020上',
 '2019~2020下',
 '2020~2021上',
 '2020~2021下',
 '2021~2022上',]

In [12]:
school_year_data.head(5)

,学校ID,学校名称,创建时间,2014~2015上,2014~2015下,2015~2016上,2015~2016下,2016~2017上,2016~2017下,2017~2018上,2017~2018下,2018~2019上,2018~2019下,2019~2020上,2019~2020下,2020~2021上,2020~2021下,2021~2022上
0,50028,北京市第三十九中学,2014-07-08 12:07:45,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50034,成都市大弯中学,2014-08-19 15:07:43,65.0,353.0,438.0,110.0,225.0,176.0,449.0,70.0,112.0,359.0,93.0,40.0,25.0,136.0,NaN
2,50039,成都市人民北路中学,2014-09-09 17:17:28,60.0,55.0,112.0,90.0,54.0,81.0,25.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN
3,50054,安康市高新国际中学,2014-09-17 18:18:06,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50064,丰华中文学校,2014-10-16 10:08:45,23.0,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
school_year_data
school_year = school_year_data.fillna(0)

In [14]:
task = 30

In [15]:
school_year['zc15'] = (school_year[school_year_list[0]] >= task) &  (school_year[school_year_list[1]] >= task) & (school_year[school_year_list[2]] >= task) & (school_year[school_year_list[3]] >= task) &(school_year[school_year_list[4]] >= task) & (school_year[school_year_list[5]] >= task) & (school_year[school_year_list[6]] >= task) & (school_year[school_year_list[7]] >= task) &(school_year[school_year_list[8]] >= task) & (school_year[school_year_list[9]] >= task) & (school_year[school_year_list[10]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc14'] = (school_year[school_year_list[1]] >= task) & (school_year[school_year_list[2]] >= task) & (school_year[school_year_list[3]] >= task) &(school_year[school_year_list[4]] >= task) & (school_year[school_year_list[5]] >= task) & (school_year[school_year_list[6]] >= task) & (school_year[school_year_list[7]] >= task) &(school_year[school_year_list[8]] >= task) & (school_year[school_year_list[9]] >= task) & (school_year[school_year_list[10]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc13'] = (school_year[school_year_list[2]] >= task) & (school_year[school_year_list[3]] >= task) &(school_year[school_year_list[4]] >= task) & (school_year[school_year_list[5]] >= task) & (school_year[school_year_list[6]] >= task) & (school_year[school_year_list[7]] >= task) &(school_year[school_year_list[8]] >= task) & (school_year[school_year_list[9]] >= task) & (school_year[school_year_list[10]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc12'] = (school_year[school_year_list[3]] >= task) &(school_year[school_year_list[4]] >= task) & (school_year[school_year_list[5]] >= task) & (school_year[school_year_list[6]] >= task) & (school_year[school_year_list[7]] >= task) &(school_year[school_year_list[8]] >= task) & (school_year[school_year_list[9]] >= task) & (school_year[school_year_list[10]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc11'] = (school_year[school_year_list[4]] >= task) & (school_year[school_year_list[5]] >= task) & (school_year[school_year_list[6]] >= task) & (school_year[school_year_list[7]] >= task) &(school_year[school_year_list[8]] >= task) & (school_year[school_year_list[9]] >= task) & (school_year[school_year_list[10]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc10'] = (school_year[school_year_list[5]] >= task) & (school_year[school_year_list[6]] >= task) & (school_year[school_year_list[7]] >= task) &(school_year[school_year_list[8]] >= task) & (school_year[school_year_list[9]] >= task) & (school_year[school_year_list[10]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc9'] = (school_year[school_year_list[6]] >= task) & (school_year[school_year_list[7]] >= task) &(school_year[school_year_list[8]] >= task) & (school_year[school_year_list[9]] >= task) & (school_year[school_year_list[10]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc8'] = (school_year[school_year_list[7]] >= task) &(school_year[school_year_list[8]] >= task) & (school_year[school_year_list[9]] >= task) & (school_year[school_year_list[10]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc7'] = (school_year[school_year_list[8]] >= task) & (school_year[school_year_list[9]] >= task) & (school_year[school_year_list[10]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc6'] = (school_year[school_year_list[9]] >= task) & (school_year[school_year_list[10]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc5'] = (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc4'] = (school_year[school_year_list[11]] >= task) & (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc3'] = (school_year[school_year_list[12]] >= task) & (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)
school_year['zc2'] = (school_year[school_year_list[13]] >= task) & (school_year[school_year_list[14]] >= task)

school_year['ls'] = ((school_year[school_year_list[0]] >= task) | (school_year[school_year_list[1]] >= task) | (school_year[school_year_list[2]] >= task) | (school_year[school_year_list[3]] >= task) | (school_year[school_year_list[4]] >= task) | (school_year[school_year_list[5]] >= task) | (school_year[school_year_list[6]] >= task) | (school_year[school_year_list[7]] >= task) | (school_year[school_year_list[8]] >= task) | (school_year[school_year_list[9]] >= task) | (school_year[school_year_list[10]] >= task) | (school_year[school_year_list[11]] >= task) | (school_year[school_year_list[12]] >= task) | (school_year[school_year_list[13]] >= task)) & (school_year[school_year_list[14]] < task) 

school_year['new'] = (school_year[school_year_list[0]] == 0 ) & (school_year[school_year_list[1]] == 0 ) & (school_year[school_year_list[2]] == 0 ) & (school_year[school_year_list[3]] == 0 ) & (school_year[school_year_list[4]] == 0 ) & (school_year[school_year_list[5]] == 0) & (school_year[school_year_list[6]] == 0 ) & (school_year[school_year_list[7]] == 0 ) & (school_year[school_year_list[8]] == 0) & (school_year[school_year_list[9]] == 0 ) & (school_year[school_year_list[10]] == 0 ) & (school_year[school_year_list[11]] == 0 ) & (school_year[school_year_list[12]] == 0 ) & (school_year[school_year_list[13]] == 0 ) & (school_year[school_year_list[14]] >= task)  

school_year['js'] = (school_year[school_year_list[0]] < task) & (school_year[school_year_list[1]] < task) &  (school_year[school_year_list[2]] < task) & (school_year[school_year_list[3]] < task) & (school_year[school_year_list[4]] < task) & (school_year[school_year_list[5]] < task) & (school_year[school_year_list[6]] < task) & (school_year[school_year_list[7]] < task) & (school_year[school_year_list[8]] < task) & (school_year[school_year_list[9]] < task) & (school_year[school_year_list[10]] < task) & (school_year[school_year_list[11]] < task) & (school_year[school_year_list[12]] < task) & (school_year[school_year_list[13]] < task) & (school_year[school_year_list[14]] < task)

school_year = school_year.replace(to_replace=False,value='')
school_year.head(5)

,学校ID,学校名称,创建时间,2014~2015上,2014~2015下,2015~2016上,2015~2016下,2016~2017上,2016~2017下,2017~2018上,...,zc8,zc7,zc6,zc5,zc4,zc3,zc2,ls,new,js
0,50028,北京市第三十九中学,2014-07-08 12:07:45,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,,,,,,,,,,True
1,50034,成都市大弯中学,2014-08-19 15:07:43,65.0,353.0,438.0,110.0,225.0,176.0,449.0,...,,,,,,,,True,,
2,50039,成都市人民北路中学,2014-09-09 17:17:28,60.0,55.0,112.0,90.0,54.0,81.0,25.0,...,,,,,,,,True,,
3,50054,安康市高新国际中学,2014-09-17 18:18:06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,,,,,,,,,,True
4,50064,丰华中文学校,2014-10-16 10:08:45,23.0,22.0,3.0,0.0,0.0,0.0,0.0,...,,,,,,,,,,True

In [16]:
def schoolType(x):
    if x['new'] == True:
        return '新开学校'
    elif x['ls'] == True:
        return '流失学校'
    elif x['js'] == True:
        return '僵尸学校'
    elif x['zc15'] == True:
        return '忠诚15个学期'
    elif x['zc14'] == True:
        return '忠诚14个学期'
    elif x['zc13'] == True:
        return '忠诚13个学期'
    elif x['zc12'] == True:
        return '忠诚12个学期'
    elif x['zc11'] == True:
        return '忠诚11个学期'
    elif x['zc10'] == True:
        return '忠诚10个学期'
    elif x['zc9'] == True:
        return '忠诚9个学期'
    elif x['zc8'] == True:
        return '忠诚8个学期'
    elif x['zc7'] == True:
        return '忠诚7个学期'
    elif x['zc6'] == True:
        return '忠诚6个学期'
    elif x['zc5'] == True:
        return '忠诚5个学期'
    elif x['zc4'] == True:
        return '忠诚4个学期'
    elif x['zc3'] == True:
        return '忠诚3个学期'
    elif x['zc2'] == True:
        return '忠诚2个学期'
    else:
        return '回归学校'

In [17]:
school_year['type'] = school_year.apply(lambda x : schoolType(x),axis=1 )
school_year.head(5)

,学校ID,学校名称,创建时间,2014~2015上,2014~2015下,2015~2016上,2015~2016下,2016~2017上,2016~2017下,2017~2018上,...,zc7,zc6,zc5,zc4,zc3,zc2,ls,new,js,type
0,50028,北京市第三十九中学,2014-07-08 12:07:45,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,,,,,,,,,True,僵尸学校
1,50034,成都市大弯中学,2014-08-19 15:07:43,65.0,353.0,438.0,110.0,225.0,176.0,449.0,...,,,,,,,True,,,流失学校
2,50039,成都市人民北路中学,2014-09-09 17:17:28,60.0,55.0,112.0,90.0,54.0,81.0,25.0,...,,,,,,,True,,,流失学校
3,50054,安康市高新国际中学,2014-09-17 18:18:06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,,,,,,,,,True,僵尸学校
4,50064,丰华中文学校,2014-10-16 10:08:45,23.0,22.0,3.0,0.0,0.0,0.0,0.0,...,,,,,,,,,True,僵尸学校

In [27]:
school_year.to_excel(r'C:\Users\caozhiqiang\Desktop\学校群体划分1.xlsx')

# 学校每月新增

In [18]:
school_sql = '''
        
SELECT fr.school_id ,fr.name ,s.province,s.city,fr.c_time,fr.validity_time
        from franchised_school_info fr,school_info s where fr.school_type in (3,4) 
        and fr.school_id  >50000 and fr.enable = 0  and s.school_id = fr.school_id 
        '''
school = mysqlDB(school_sql)

In [19]:
school['c_dttime'] = school['c_time'].dt.strftime('%Y-%m')
# school['c_dttime'] = pd.to_datetime(school['c_time'], format='%Y-%m').dt.date

school.append(school['c_dttime'])
school_data = school['c_dttime'].groupby(school['c_dttime']).agg('count')
school_data['2017-09'] = 43

In [20]:
x_data = school_data.index.tolist()
y_data =  school_data.values.tolist()
school_date_bar = echarts_bar(x_data,y_data)

In [21]:
school_date_bar.load_javascript()

In [22]:

school_date_bar.render_notebook()

In [23]:
school_count_df = []

for i in year:
    sql = '''
    SELECT count(fr.school_id ) as school_count from franchised_school_info fr where  fr.school_type in (3,4)  and fr.c_time >='{}' and fr.c_time <'{}'
    '''.format(i[0],i[1])
    school_count_df.append(mysqlDB(sql))
school_year_df =  pd.concat(school_count_df, axis=1,ignore_index=True)
school_year_df.columns = school_year_list
school_year_df

,2014~2015上,2014~2015下,2015~2016上,2015~2016下,2016~2017上,2016~2017下,2017~2018上,2017~2018下,2018~2019上,2018~2019下,2019~2020上,2019~2020下,2020~2021上,2020~2021下,2021~2022上
0,120,148,220,187,305,151,880,141,195,149,198,1147,170,63,66

In [24]:
x_data = school_year_df.columns.tolist()
y_data = school_year_df.values.tolist()[0]

In [25]:
school_year_bar = echarts_bar(x_data,y_data)
school_year_bar.render_notebook()

In [26]:
school_count_df = []

for i in year:
    sql = '''
    SELECT count(fr.school_id ) as school_count from franchised_school_info fr where  fr.school_type in (3,4)  and fr.c_time <'{}'
    '''.format(i[1])
    school_count_df.append(mysqlDB(sql))
school_year_df =  pd.concat(school_count_df, axis=1,ignore_index=True)
school_year_df.columns = school_year_list
school_year_df

,2014~2015上,2014~2015下,2015~2016上,2015~2016下,2016~2017上,2016~2017下,2017~2018上,2017~2018下,2018~2019上,2018~2019下,2019~2020上,2019~2020下,2020~2021上,2020~2021下,2021~2022上
0,121,269,489,676,981,1132,2012,2153,2348,2497,2695,3842,4012,4075,4141

In [27]:
x_data = school_year_df.columns.tolist()
y_data = school_year_df.values.tolist()[0]

In [28]:
school_year_bar = echarts_bar(x_data,y_data)
school_year_bar.render_notebook()

# 学校群体占比分布

In [29]:
data = school_year['type'].value_counts()
x = data.index.tolist()
y = data.values.tolist()
data_list = []

for i in range(0,17):
    data_list.append([x[i],int(y[i])])
data_list

[['僵尸学校', 2722],
 ['流失学校', 1222],
 ['忠诚5个学期', 73],
 ['忠诚3个学期', 37],
 ['新开学校', 36],
 ['忠诚9个学期', 26],
 ['忠诚7个学期', 24],
 ['忠诚11个学期', 23],
 ['回归学校', 21],
 ['忠诚6个学期', 10],
 ['忠诚2个学期', 9],
 ['忠诚8个学期', 5],
 ['忠诚13个学期', 4],
 ['忠诚12个学期', 3],
 ['忠诚10个学期', 2],
 ['忠诚14个学期', 2],
 ['忠诚15个学期', 1]]

In [30]:
pie1 = echarts_pie(data_list,'学校群体分布')

In [31]:
pie1.render_notebook()

# 答题卡教师使用数据分布

In [32]:
lxc_sql = '''
SELECT fr.school_id,fr.name,os.name as belong_name ,g.grade_name ,s.subject_name,t.teacher_name ,count( DISTINCT tt.task_id ) as lxc_count
            from tp_task_info  tt, franchised_school_info fr ,as_answer_sheet_info aa ,oracle2utf.school_info os ,subject_info s,grade_info g,teacher_info t
            where    fr.school_id not in ( 50043,51613,50041,53741,50068,53535,50044,100002368)  and fr.SCHOOL_ID = aa.dc_school_id  and s.subject_id = aa.subject_id and g.grade_id = aa.grade_id 
            and tt.task_value_id = aa.paper_id  and aa.workbook_paper = 1 and os.school_id = fr.belong_school_id and aa.c_time >'2021-7-15'  and t.user_id = tt.c_user_id  and tt.CLASSROOM_ID is null 
            GROUP BY fr.school_id,aa.grade_id ,aa.SUBJECT_ID,tt.c_user_id
                        '''
lxc_school = mysqlDB(lxc_sql)
lxc_school_list = tuple(set(lxc_school['school_id'].tolist()))
print(lxc_school_list)

(100002311, 100002332, 100002340, 100002348, 52792, 52794, 51776, 100002369, 52803, 53827, 53830, 100002376, 100002377, 52811, 100002379, 100002381, 53327, 53328, 53329, 53842, 51282, 51283, 100002387, 100002391, 51800, 100002394, 100002395, 100002396, 100002397, 100002398, 53855, 100002399, 100002400, 51303, 100002407, 100002412, 53362, 100002419, 100000885, 100000887, 53880, 51832, 53883, 52860, 100002429, 100000901, 100000902, 100002447, 100000400, 100002449, 53394, 100002451, 100002453, 100001432, 100002460, 100000925, 51875, 51895, 53943, 51899, 52923, 53950, 53438, 100002514, 100000467, 100002518, 51415, 100001497, 100002529, 100002531, 51429, 51430, 100002021, 54004, 53494, 100001019, 100000509, 51465, 54038, 51992, 54047, 53542, 100002100, 53557, 100002102, 100002104, 100002111, 53568, 53569, 54081, 54083, 100001088, 54085, 53575, 100002119, 100000585, 51530, 100002121, 100002124, 100000589, 100000590, 100000591, 100001615, 100002125, 100002127, 100002130, 51541, 51545, 100002138, 100002139, 51036, 100000604, 100000610, 100002146, 54119, 54122, 53104, 51057, 100000633, 53120, 51585, 54145, 54167, 52639, 52642, 52645, 100001190, 100001191, 100001194, 100001719, 100001209, 54202, 52671, 100001730, 51140, 51147, 52684, 52685, 53195, 51156, 53205, 53206, 53209, 100001243, 100002273, 100002286, 100002300)

In [33]:

dtk_sql = '''
SELECT fr.school_id,fr.name,os.name as belong_name ,g.grade_name ,s.subject_name,t.teacher_name ,count( DISTINCT tt.task_id ) as dtk_count
            from tp_task_info  tt, franchised_school_info fr ,as_answer_sheet_info aa ,oracle2utf.school_info os ,subject_info s,grade_info g,teacher_info t
            where    fr.school_id  in {} and fr.SCHOOL_ID = aa.dc_school_id  and s.subject_id = aa.subject_id and g.grade_id = aa.grade_id 
            and tt.task_value_id = aa.paper_id  and aa.workbook_paper = 0 and os.school_id = fr.belong_school_id and aa.c_time >'2021-7-15'  and t.user_id = tt.c_user_id  and tt.CLASSROOM_ID is null 
            GROUP BY fr.school_id,aa.grade_id ,aa.SUBJECT_ID,tt.c_user_id
'''.format(lxc_school_list)

df =[mysqlDB(dtk_sql),lxc_school]

school_task_count = reduce(lambda left, right: pd.merge(left, right, on=['school_id','name','belong_name','grade_name','subject_name','teacher_name'], how='left'), df) 

school_task_count

KeyboardInterrupt:

In [ ]:
school_task_count.sort_values(by=['school_id','lxc_count','grade_name','subject_name'],axis=0,ascending=False)

In [ ]:
school_task_count.groupby('school_id').sum()

In [ ]:
school_task_count.groupby('school_id')['teacher_name'].count()

In [ ]:
school_task_count.to_excel(r'C:\Users\caozhiqiang\Desktop\学校年级学科任务分布.xlsx')